@import "tailwindcss";

/* globals.css */
body {
    @apply min-h-screen bg-[#0e0e0e] text-white;
    background-image: radial-gradient(circle at center, rgba(178, 87, 255, 0.3) 0%, rgba(0, 0, 0, 0.95) 60%);
    background-repeat: no-repeat;
    background-size: cover;
}
